.nav__list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.nav__link {
  display: block;
  cursor: pointer;
  color: #ffffff;
  position: relative
}

.nav__link::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30%;
  width: 1.5rem;
  height: 2px;
  transform: scaleX(0);
  background-color: #ffffff;
  transition: all ease-in-out 250ms;
}

.nav__link:hover::after {
  transform: scaleX(1);
}
