.about {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about__us--title {
  text-align: center;
  margin: 10px;
}

.about__us {
  margin: 20px 30px;
  width: 50%;
}

p {
  margin-top: 15px;
}

.about__us--photo {
  width: 50%;
  border-radius: 8px;
  position: relative;
  left: 25%;
}
