*,
*::before,
*::after {
  box-sizing: border-box;
}

.project {
  color: white;
  margin: 1.25rem auto;
  max-width: 120vmin;
}

.project__title {
  margin: 1.25rem 0;
}

.project__box--photo {
  overflow: hidden;
  border-radius: 1.25rem;
}

.project__photo {
  border-radius: 1.25rem;
  transition: transform ease-in-out 500ms;
  transform: scale(1);
}

.project__photo:hover {
  transform: scale(1.2);
  transition: transform ease-in-out 500ms;
}

.project__info {
  margin-top: 1.25rem;
}

.project__description {
  line-height: 2;
}

.project__description::first-letter {
  font-size: 200%;
}
